<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Главная</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/counter" class="nav-link">Счётчик</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/weather" class="nav-link">Погода</NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="/aued" class="nav-link">Только для участников</NavLink>
            </li>
        </ul>
        <button class="logout-btn">Выйти</button>
    </nav>
</header>

@code {
    // Здесь позже будет логика выхода
}
